@import "reset-css/reset.css";
@import url('https://fonts.googleapis.com/css?family=Roboto:300:400,700');
body {
  background-color: $bg-color;
  font-family: Roboto, sans-serif;
  font-size: $normal-font-size;
}
* {
  box-sizing: border-box;
}
input {
  border: 0;
}
img {
  max-width: 100%;
}