.container {
  text-align: center;
  .spinner {
    height: 32px;
    // 아래의 step(12)는 밑에 spinner 함수에서 360도로 회전 시킬때 12번에 끊어서 회전시킨다는 것을 의미한다
    animation: spinner 1.2s steps(12) infinite;
  }
}

@keyframes spinner {
  from  {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}